
@import "variable";

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "tv-header tv-header tv-header tv-header"
  "tv-notice tv-notice tv-vedio tv-vedio"
  "tv-slide tv-slide tv-vedio tv-vedio"
  "tv-slide tv-slide tv-vedio tv-vedio"
  "tv-slide tv-slide tv-banner tv-banner"
  "tv-clock tv-massagebot tv-massagebot tv-massagebot";
  grid-template-columns: 151px 88px 4fr 1fr;
  grid-template-rows: 72px $tvvideo 53px 20px 146px $tvheader;
  justify-content: center;
}
.container > div {
  border: 1px dashed #888;
}

.tv-header {
  grid-area: tv-header;
}
.tv-notice {
  grid-area: tv-notice;
}
.tv-vedio {
  grid-area: tv-vedio;
}
.tv-slide {
  grid-area: tv-slide;
}
.tv-banner {
  grid-area: tv-banner;
}
.tv-clock {
  grid-area: tv-clock;
}
.tv-massagebot {
  grid-area: tv-massagebot;
}

.test{
  text-align: center;
}
