html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.wrapper{
  padding: 20px;

}

.content{
  min-height: 100%;
  position: relative;
  overflow: auto;
  z-index: 0
}

.bodybackground{
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_space
{
  width: 100%;
  display: block;
}
.left_space{
  float: left;
  display: block;
}

/* Actual block */

.titleblock
{
  width: 100%;
  height: 70px;
  background-color:#bbff00;
}



.background.logoblock {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 200px;
	background-color: #876799;
}

.logoblock {
	height: auto;
	width: 200px;
	padding-bottom: 0px;
}

.paddingblocklogo{
  padding-left: 20px;
}
